

.wrapper {
    height: var(--height-header);
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 12%);
    display: flex;
    justify-content: center;
    background: var(--white-color);

    position: fixed;
    top: 0;
    left: 0;
    
}

.innerHeader {
    height: 100%;
    width: var(--width-innerHeader-container);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 118px;
    height: 42px;
    
}




.actions {
    display: flex;
    align-items: center;
}

// logged
.action-btn {
    height: 32px;
    width: 32px;
    font-size: 2.2rem;
    background-color: transparent;
    margin-left: 24px;
    padding: 4px;
    cursor: pointer;
}

.action-btn.plane {
    transform: translateY(-6px);
}


.avatar {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-left: 30px;
    border-radius: 50%;
}


.more-btn {
    cursor: pointer;
    font-size: 1.8rem;
    padding: 12px;
    margin: 0 8px 0 16px;
    background-color: transparent;   
}


