.content {
    width: 244px;
    transform: translateY(-2px);
    position: relative;

    &::before {
        position: absolute;
        top: -8px;
        right: 6px;
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-bottom: 16px solid var(--white-color);
    }

    .popperMenu {
        overflow: unset;
        display: flex;
        flex-direction: column;
    }

    .listMenu {
        overflow-y: auto;
    }
}





