@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,600;0,700;1,200;1,300;1,600&display=swap');

:root {
    --primary-color: #FE2C55;
    --black-color: #2b2d32;
    --white-color: #fff;

    // Default layout
    --height-header: 60px;
    --width-search: 500px;
    --width-innerHeader-container: 1488px;
}


.hide {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

button {
    border: none;
    outline: none;
}

a[href] {
    color: var(--black-color);
    text-decoration: none;    
}
li {
    list-style-type: none;
}
