@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,600&display=swap');

:root {
    --primary-color: #FE2C55;
    --black-color: #2b2d32;
    --white-color: #fff;
    --success-color: #059862;

    // Default layout
    --height-header: 60px;
    --width-search: 500px;
    --width-innerHeader-container: 1488px;
    --width-sidebar: 260px;
}

// Fonts 
    // @font-face {
    //     font-family: TikTokFont;
    //     src: url('/src/assets/fonts/TikTokFont-Bold.woff2');
    // } phải dùng font-family


.hide {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-y: overlay;
}

//
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, .06);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}




button {
    border: none;
    outline: none;
}

a[href] {
    color: var(--black-color);
    text-decoration: none;    
}

li {
    list-style-type: none;
}


// Custom Tippy box
.tippy-box {
    background-color: #666;
    border-radius: 9px;
    font-size: 1.6rem;
}

.tippy-arrow {
    color: #666;
}
