.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;
    &:hover {
        background-color: #f5f2f2;
    }

    &:hover .option {
        display: inline;
    }
}


// 
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


// 
.info {
    flex-grow: 1;
    margin-left: 12px;
}

.name {
    font-size: 1.6rem;
    font-weight: 600;
}  

.check {
    margin-left: 6px;
    color: rgb(32, 213, 236);
}

.auther {
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(22, 24, 35, .8);
}

.icon-option {
    color: #555;
    padding: 8px 16px 0 8px;
}

.option-box {
    min-width: 250px;

    &::before {
        position: absolute;
        top: -10px;
        right: 8px;
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-bottom: 16px solid var(--white-color);
    }

    p {
        font-size: 1.6rem;
        font-weight: 600;
        padding: 8px 16px;
        color: var(--black-color);
    
        &:hover {
            color: var(--primary-color);
        }   
    
        .icon {
            margin-right: 16px;
        }
    }

    hr {
        margin: 0 16px;
    }
    
}
