@mixin styleAvatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 10px;
    border-radius: 4px;
    transition: background-color 200ms ease-in-out 0s;
    cursor: pointer;
    &:hover {
        background-color: #f5f2f2;
    }

    &:hover .option {
        display: inline;
    }
}

.wrapper.accountSmall {
    .avatar {
        width: 32px;
        height: 32px;
    }

    .name {
        font-weight: 700;
    }
}

// 
.avatar {
    @include styleAvatar();
}


// 
.info {
    flex-grow: 1;
    margin-left: 12px;
}

.name {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2;

    .text {
        display: inline-block;
        max-width: 140px;
        // -webkit-line-clamp: 1;  /* số dòng hiển thị */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}  

.check {
    margin-left: 6px;
    margin-bottom: 4px;
    color: rgb(32, 213, 236);
}

.auther {
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(22, 24, 35, .8);

    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}








// Box Preview

.boxPreview {
    width: var(--width-sidebar);
    padding: 0 8px;
}

.boxPreview_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .boxPreview_avatar {
        @include styleAvatar();
        width: 40px;
        height: 40px;
    } 
}

.boxPreview_body {
    .info {
        margin: 24px 0;

        .name {
            .text {
                max-width: 170px;
                // -webkit-line-clamp: 1;  /* số dòng hiển thị */
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}

.boxPreview_footer {
    .value ~ .value {
        margin-left: 12px;
    }

    .label {
        font-weight: 400;
        font-size: 1.4rem;
        color: #161823bf;
    }
}



