.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--width-innerHeader-container);
    min-width: 800px;
    display: flex;
}

.content {
    flex-grow: 1;
    background: green;
}